.App{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
body{
    background-color: rgb(0, 0, 0);
}
.Task-Creater-area{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.Task-Creater-input{
    width: 410px;
    padding: 10px;
    border-radius: 30px 2px 2px 2px;
    border: none;
    box-shadow: 1px 3px 2px 0px grey;
    outline: none;
}
.Task-Creater-btn{
    width: 100px;
    padding: 10px;
    border: none;
    box-shadow: -1px 2px 10px 1px grey;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-top: 20px;
    border-radius: 2px;
}
.Task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 410px;
    margin-top: 30px;
    border: 1px solid white;
    padding: 10px;
    max-height: 300px;
}
.Task-text{
    font-size: 14px;
    font-style: italic;
    font-family: monospace;
    word-break: break-all;
}
.Task-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.task-icon{
    cursor: pointer;
}
.task-icon:nth-child(1){
    color: red;
    font-size: 24px;
    margin-right: 5px;
}
.task-icon:nth-child(2){
    color: rgb(0, 60, 255);
    font-size: 24px;
}
.Task-edit-input{
    width: 330px;
    padding: 10px;
    border-radius: 30px 2px 2px 2px;
    border: none;
    box-shadow: 1px 3px 2px 0px grey;
    outline: none;
}